<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CSS Documentation site</title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <aside id="left">
            <div id="logo-container">
                <img src="Images/logo.jpg" /><span>HOME</span>
            </div>
            <ul>
                <li>CSS Basic</li>
                <li>CSS Introduction</li>
                <li>CSS Syntax</li>
                <li>CSS How to</li>
                <li>CSS Background</li>
                <li>CSS Text</li>
                <li>CSS Font</li>
                <li>CSS Border</li>
                <li>CSS Outline</li>
                <li>CSS Margin</li>
                <li>CSS Padding</li>
                <li>CSS List</li>
                <li>CSS Table</li>
            </ul>

            <ul>
                <li>CSS Advanced</li>
                <li>CSS Dimension</li>
                <li>CSS Classification</li>
                <li>CSS Positioning</li>
                <li>CSS Pseudo-class</li>
                <li>CSS Pseudo-element</li>
                <li>CSS Image Gallery</li>
                <li>CSS Image Opacity</li>
                <li>CSS Media Types</li>
                <li>CSS Don't</li>
                <li>CSS Summary</li>
            </ul>

            <ul>
                <li>CSS Examples</li>
                <li>CSS Examples</li>
            </ul>

            <ul>
                <li>References</li>
                <li>CSS2 Reference</li>
                <li>CSS2 Print</li>
                <li>CSS2 Aural</li>
                <li>CSS Units</li>
                <li>CSS Colors</li>
                <li>CSS Colorvalues</li>
                <li>CSS Colornames</li>
            </ul>

            <ul>
                <li>CSS Quiz</li>
                <li>CSS Quiz</li>
                <li>CSS Exam</li>
            </ul>
    </aside>
</body>
</html>
