body {
    margin: 0;
    padding: 0;
}

div#logo-container img {
    width:20px;
    height:20px;
}
 aside#left {
     float: left;
     background-color: #F1F1F1;
 }

  aside#left ul {
      padding: 0;
  }

 aside#left ul li:first-child {
     color: #7F0000;
 }