<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tree view</title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li>
            <a>List item</a>
            <ul>
                <li><a>Sublist item</a></li>
                <li><a>Sublist item</a></li>
                <li><a>Sublist item</a></li>
                <li><a>Sublist item</a></li>
            </ul>
        </li>
        <li><a>List item</a></li>
        <li><a>List item</a></li>
        <li><a>List item</a></li>
    </ul>
</body>
</html>
