<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Music Categories</title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <span>Music Categories</span>

        <div class="content">
            <img src="Images/just-web-template-image.jpg" alt="Just Web Templates Image" />
            <div>Even more websites all about website templates on <strong>Just Web Templates</strong>.</div>
            <a href="#" class="button"><div>Add</div></a>
            <a href="#" class="button"><div>Listen</div></a>
        </div>
        <div class="content">
            <img src="Images/beauty-template-image.jpg" alt="Template Beauty Image" />
            <div>If you're looking for beautiful and professionaly made templates you can find them at <strong>Template Beauty</strong>.</div>
            <a href="#" class="button"><div>Add</div></a>
            <a href="#" class="button"><div>Listen</div></a>
        </div>
        <div class="content">
            <img src="Images/template-image.jpg" alt="Template Image" />
            <div>You can remove any look to our websites from this template you're free to use the template without linking back to us.</div>
            <a href="#" class="button"><div>Add</div></a>
            <a href="#" class="button"><div>Listen</div></a>
        </div>
    </div>
</body>
</html>
